<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nouvelle demande de devis - <%= @contact_request.first_name %> <%= @contact_request.last_name %></title>
  </head>
  <body>
    <h1>Nouvelle demande de devis</h1>
    <p><strong>Prénom :</strong> <%= @contact_request.first_name %></p>
    <p><strong>Nom :</strong> <%= @contact_request.last_name %></p>
    <p><strong>Email :</strong> <%= @contact_request.email %></p>
    <p><strong>Numéro de téléphone :</strong> <%= @contact_request.phone_number %></p>
    <p><strong>Date de début de réservation :</strong> <%= @contact_request.start_date %></p>
    <p><strong>Date de fin de réservation :</strong> <%= @contact_request.end_date %></p>
    <p><strong>Message :</strong></p>
    <p><%= @contact_request.message %></p>
  </body>
</html>
