<!DOCTYPE html>
<html>
  <head>
    <title>ProjectDyLocal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Feuille de style Leaflet sans attribut d'intégrité -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/>

    <!-- Feuille de style de votre application -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- CSS de Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_importmap_tags %>
  </head>
  <body>
    <!-- Script Leaflet sans attribut d'intégrité -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

    <!-- JS de Flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>

    <script>
      document.addEventListener("turbo:load", function() {
        flatpickr("#date_range_picker", {
          locale: "fr",
          mode: "range",
          dateFormat: "d/m/Y",  // Format affiché au format français
          onClose: function(selectedDates, dateStr, instance) {
            if (selectedDates.length === 2) {
              document.getElementById("contact_request_start_date").value = instance.formatDate(selectedDates[0], "Y-m-d");
              document.getElementById("contact_request_end_date").value = instance.formatDate(selectedDates[1], "Y-m-d");
            }
          }
        });
      });
    </script>

    <%= yield %>
  </body>
</html>
